<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      {% if site.contact_us_title %}
      {{ site.contact_us_title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}</h2>

      <div class="footer-cl-wrapper">
        <div class="footer-cl footer-cl-1">
          <ul class="contact-list">
            <li>
              {% if site.author %}
              {{ site.author | escape }}
              {% else %}
              {{ site.title | escape }}
              {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="footer-cl footer-cl-2">
          <ul class="social-media-list">
            {% if site.instagram_username %}
              <a href="https://www.instagram.com/huskyrunningclub//{{ site.footer-links.instagram }}">
                <i class="svg-icon instagram"></i>
              </a>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="footer-cl footer-cl-3">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>

    </div>

  </footer>
